.header{
    width: 100%;
    height: 70px;
    padding: 4px 30px;
    background-color: #000000;
}
.header-left-nav{
    float: left;
}
a{
    color: #000;
}
main{
    display: flex;
    
}
img{
    vertical-align: middle;
    border-style: none;
}
.header-left-nav form{
    display: inline-block;
}
.header-sharch{
    position: relative;
}
.d-none{
    display: none!important;
}
.header-left-nav .form-control{
    width: 180px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    padding-left: 30px;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px soid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s
            ease-in-out,box-shadow .15s
        ease-in-out;
}
button, input{
    overflow: visible;
}
button, input, optgroup, select, textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.header i{
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 18px;
}
.fas{
    font-weight: 900;
}
.fas{
    font-family: "Font Awesome 5 Free";
}
.fas{
    -moz-osx-font-smmothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
[type=submit]:not(:disabled){
    cursor: pointer;
}
[type=submit]{
    -webkit-appearance: button;
}
.header-right-nav{
    float: right;
}
.header .nav-item{
    display: inline;
    color: #fff;
    font-size: 14px;
}
.btn-primary{
    background-color: #4a90e2
            !important;
}
.ml-3,.mx-3{
    margin-left: 1rem!important;
}
.mr-3,.mx-3{
    margin-right: 1rem!important;
}
.my-2{
    margin-bottom: 0.5rem!important;
}
.my-2{
    margin-bottom: 0.5rem!important;
}
.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 15s
            ease-in-out,background-color .15s 
            ease-in-out,border-color .15s
            ease-in-out box-shadow .15s
            ease-in-out;
}
a{
    color: #007bff;
    text-decoration: none;
    background-color: transition;
}
.btn-secondary{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
*, ::after, ::before{
    box-sizing: border-box;
}
.notification{
    color: #fff;
    text-align: center;
}
.top .top-main{
    background-image: url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-lg-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.top .form-fream{
    height: 650px;
    display: flex;
    align-items: center;
}
.top .form-area{
    background: #fff;
    padding: 24px;
    border-radius: 5px;
}
.top .form-area-title{
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1px;
}
.mb-4,.my-4{
    margin-bottom: 1.5rem!important;
}
body,p,ol,ul,td{
    font-family: verdana, arial,helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
ul{
    display: inline-block;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
label{
    display: block;
}
label{
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s
            ease-in-out,box-shadow .15s
        ease-in-out;
}
.m-5{
    margin: 3rem!important;
}
.top .section-title{
    font-size: 24px;
    margin: 35px 0;
    font-weight: bold;
}
h1{
    font-size: 2.5rem;
}
h1,h5{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1,h5{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.col-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col,.col-1,.co-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,
.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-2, .col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,
.col-md,.col-md-1,.col-md-10,.col-md-11.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,
.col-sm,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,
.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.top span{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    margin: auto;
    text-align: center;
    font-size: 24px;
}
.top .panel-image{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 25px;
}
img{
    vertical-align: middle;
    border-style: none;
}
.shadow{
    box-shadow: 0 .5rem 1rem
            rgba(0,0,0,.15)!important;
}
.footer{
    bottom: 0;
    width: 100%;
    height: 180px;
    margin-top: 64px;
    padding-top: 90px;
    background-color: #111;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}
footer{
    display: block;
}

.user{
    width: 100%;
}
.user .user-nav-pc{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px;
}
.d-none{
    display: none!important;
}
.user .user-nav-pc .active{
    border-right: 3px solid #4a90e2;
}
.user .user-nav li{
    font-size: 18px;
    padding: 10px;
}
.user .user-nav-mobile{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px;
}
.user .user-view{
    background-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
}
.user .user-view-box{
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 30px auto;
}
.user .update-content{
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}
h5{
    font-size: 1.25rem;
}
.user .update-content{
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}
.user .icon-box{
    text-align: center;
}
.host-icon{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50px;
}
.user .update-content label{
    font-weight: bold;
}
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){
    cursor: pointer;
}
.required-a::after{
    content: "必須";
    color: #fff;
    background-color: #ff0000a8;
    font-size: 12px;
    border-radius: 5px;
    padding: 4px;
    margin: 0 5px;
}
textarea.form-control{
    height: auto;
}
ul{
    list-style: none;
}

.dropdown{
    display: none;
    border: 3px solid #F6F8F9;
    background-color: #fff;
    position: absolute;
    top: 70px;
    right: 10px;
    padding: 15px;
    z-index: 1000;
    
}


li::before,
label::before{
    display: block;
    position: absolute;
    right: 5%;
    width: .5em;
    height: .5em;
    border-top: #000 2px solid;
    border-left: #000 2px solid;
    transform: rotate(135deg);
}
input[type="checkbox"]{
    display: none;
}
label[for="menu"]{
    display: block;
}
label[for="menu"]::before{
    transform: rotate(225deg);
}
#menu:checked + .dropdown{
    display: block;
}
.room-new{
    width:100%;
}
.room-new .room-nav-pc{
    height: 100vh;
}
.room-new .room-nav{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px;
}
.room-new .room-nav-mobile{
    height: auto;
}
.room-new .room-nav-mobile .active{
    border-bottom: 3px solid
            #4a90e2;
}
.room-new .room-nav-mobile li{
    float: left;
}
.room-new .room-nav li{
    font-size: 18px;
    padding: 10px;
}
.room-new .room-view{
    background-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
}
.room-new .room-view-box{
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 50px auto;
}
.room-new .update-content{
    border-bottom: 1px solid
            #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}
.room-new,.update-content labal{
    font-weight: bold;
}
.room-show,.reservations-new{
    padding: 30px 0;
}
.room-show-image,.reservations-new-image{
    width: 100%;
    object-fit: cover;
}
.room-show-detile,.reservations-new-detile{
    display: flex;
    align-items: center;
}
.room-show-detile-icon,.reservations-new-detile-icon{
    padding: 10px;
}
.host-icon{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50px;
}
.room-show-profile,.reservations-new-profile{
    padding: 15px;
}
.room-show-profile-name,.reservations-new-profile-name{
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
}
.room-show-profile-address,.reservations-new-profile-address{
    font-size: 14px;
}
.room-show-detile-content,.reservations-new-detile-content{
    font-size: 16px;
    line-height: 30px;
    padding: 30px 10px;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
    word-break: break-all;
}
.room-show-nav,.reservations-new-nav{
    padding: 20px;
    border: 1px solid #eaedef;
}
.room-show-date-select,.reservations-new-date-select{
    padding: 15px 0;
}
.room-show-date-selectlabel,.reservations-new-date-selectlabel{
    letter-spacing: 2px;
    font-size: 14px;
}
input[type=date],input[type=datetime-local],input[type=month],input[type=time]{
    -webkit-appearance: listbox;
}
.notifcations, .notice{
    background-color: lightblue;
}
.user, .user-nav-mobile li{
    float: left;
}
.user, .user-nav{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px;
}
.user, .user-nav-pc{
    height: 100vh;
}
.offset-3{
    margin-left: 30%;
}